<ion-header>
    <ion-navbar color="my-gray">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>NONSTOP</ion-title>
        <!-- <ion-buttons end>
            <button ion-button (click)="chkGPS()">Actualizar</button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="floating-panel" *ngIf="errorGPS">
        <p>Debes activar el GPS</p>
    </div>
    <div class="floating-panel" *ngIf="errorPermiso">
        <p>Debes activar los permisos de GPS</p>
    </div>
    <div class="floating-gray" *ngIf="errorPermiso || errorGPS"></div>
    <div #map id="map" style="height:100%;"></div>
</ion-content>